<!-- header -->
<div class="header">
	<div class="agile-top-header">
		<div class="logo">
			<h1><a href="/">Fan<span>tas</span>tic F<span>oo</span>d </a></h1>
		</div>
		<!-- navigation -->
		<div class="top-left">
			<div class="top-icons">
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook </a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter </a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Google </a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin</a></li>
				</ul>
			</div>
			<div class="top-nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
								
					</div>
					<!-- navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						 <nav class="linkEffects linkHoverEffect_2">
							<ul>
								<li><a href="/" data-link-alt="anasayfa" class="active"><span>Anasayfa</span></a></li> 
								<li><a href="#services" data-link-alt="servisler" class="scroll"><span>Servisler</span></a></li> 
								<li><a href="#gallery" data-link-alt="Galeri" class="scroll"><span>Galeri</span></a></li> 
								<li><a href="#special" data-link-alt="Özel ürünler" class="scroll"><span>Özel Ürünler</span></a></li> 
								<li><a href="#clients" data-link-alt="Yorumlar" class="scroll"><span>Yorumlar</span></a></li> 
								<li><a href="#contact" data-link-alt="İletişim" class="scroll"><span>İletişim</span></a></li> 
							</ul>
						</nav>
					</div>
					<div class="clearfix"> </div>	
				</nav>
			</div>
			<div class="clearfix"> </div>	
			<!-- //navigation -->
		</div>
	</div>
	<div class="slider">
	    <!-- Slideshow 3 -->
	    <ul class="rslides" id="slider">
			<li>	
				<img src="/web/images/bg1.jpg" alt="">
					<div class="slider-info">
						<h4>Lorem ipsum amet dolor</h4>
						<p>Lorem ipsum dolor sit amet, consectetur et dolore magna aliqua.</p>
						<div class="button">
							<a href="#" data-toggle="modal" data-target="#myModal">Get More<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
					</div>
			</li>
			<li>
				<img src="/web/images/bg2.jpg" alt="">
					<div class="slider-info">
						<h4>adiping elitrs eius tempo</h4>
						<p>Lorem ipsum dolor sit amet, consectetur et dolore magna aliqua.</p>
						<div class="button">
							<a href="#" data-toggle="modal" data-target="#myModal">Get More<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
					</div>
			</li>
			<li>
				<img src="/web/images/bg3.jpg" alt="">
					<div class="slider-info">
						<h4>incidit ut labo dol magna</h4>
						<p>Lorem ipsum dolor sit amet, consectetur et dolore magna aliqua.</p>
						<div class="button">
							<a href="#" data-toggle="modal" data-target="#myModal">Get More<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
					</div>
			</li>
	    </ul>
	    <!-- Slideshow 3 Pager -->
	    <ul id="slider3-pager">
	      <li><a href="#"><img src="/web/images/bgs-11.jpg" alt=""></a></li>
	      <li><a href="#"><img src="/web/images/bgs-22.jpg" alt=""></a></li>
	      <li><a href="#"><img src="/web/images/bgs-33.jpg" alt=""></a></li>
	    </ul>
    </div>	
</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4>Our Fantastic Food</h4>
							<img src="/web/images/m1.jpg" alt="Food" />
							<span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
				</div>
			</div>
						
		</div>
	</div>
	<!-- //Modal -->
<!-- //header -->