<!-- Services -->
<div class="welcome agileits" id="services">
	<div class="container">
		<div class="welcome-main">
			<div class="welcome-top">
				<h2>Our Best Services</h2>
				<p>Sed ut perspiciatis unde.</p>
			</div>
			<div class="welcome-bottom">
				<div class="col-md-4 welcome-grid">
					<img src="/web/images/g1.png" alt="" class="img-responsive">
					<h4>Service One</h4>
					<p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
				</div>
				<div class="col-md-4 welcome-grid">
					<img src="/web/images/g2.png" alt="" class="img-responsive">
					<h4>Service Two</h4>
					<p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
				</div>
				<div class="col-md-4 welcome-grid">
					<img src="/web/images/g3.png" alt="" class="img-responsive">
					<h4>Service Three</h4>
					<p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
				</div>
			   <div class="clearfix"> </div>
			</div>
		</div>		
	</div>
</div>
<!-- Services -->