<!-- Special -->
<div class="projects" id="special">
    <div class="container">
        <div class="port-head">
                 <h3 class="w3l_head w3l_head1">Special Food</h3>
                 <p>Sed ut perspiciatis unde.</p>
        </div>
    </div>
    <div class="projects-grids">
            <div class="sreen-gallery-cursual">
                <ul id="flexiselDemo1">	
                <li>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/web/images/s1.jpg" alt="" />
                            <div class="projects-grid-caption"> 
                                
                            <h4>Fantastic Food</h4>
                                <p>You don't need a silver fork to eat good food.</p>
                            </div>
                        </div>	
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/web/images/s2.jpg" alt="" />
                            <div class="projects-grid-caption"> 
                                
                                    <h4>Fantastic Food</h4>
                                <p>You don't need a silver fork to eat good food.</p>
                            </div>
                        </div>	
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/web/images/s3.jpg" alt="" />
                            <div class="projects-grid-caption"> 
                                
                                <h4>Fantastic Food</h4>
                                <p>You don't need a silver fork to eat good food.</p>
                            </div>
                        </div>	
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/web/images/s44.jpg" alt="" />
                            <div class="projects-grid-caption"> 
                            
                                <h4>Fantastic Food</h4>
                                <p>You don't need a silver fork to eat good food.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/web/images/s5.jpg" alt="" />
                            <div class="projects-grid-caption"> 
                            
                                    <h4>Fantastic Food</h4>
                                <p>You don't need a silver fork to eat good food.</p>
                            </div>
                        </div>	
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/web/images/s6.jpg" alt="" />
                            <div class="projects-grid-caption"> 
                            
                                    <h4>Fantastic Food</h4>
                                <p>You don't need a silver fork to eat good food.</p>
                            </div>
                        </div>	
                    </div>
                </li>
            </ul>

    </div>
</div>
</div>
<!-- //Special -->