<!-- Contact -->
	<!-- Contact-form -->
    <div class="contact-form" id="contact">
        <div class="container">	
        <h3>Contact Us</h3>
        <p>Sed ut perspiciatis unde.</p>
            <form action="#" method="post">
                <input type="text" placeholder="Name" name="name" required="">
                <input type="email" placeholder="Email" name="email" required="">
                <input type="text" placeholder="Telephone" name="telephone" required="">
                <textarea placeholder="Message" name="message" required=""></textarea>
                <button class="btn1">Submit</button>
            </form>
        </div>	
    </div>	
        <!-- //Contact-form -->
    <div class="agile-contact">
        <div class="col-md-6 contact-map-right">
            <div id="map"></div>
        </div>
        <div class="col-md-6 left-contact">
            <div class="cont-top">
                <h5><i class="fa fa-envelope" aria-hidden="true"></i>Email</h5>
                <a href="mailto:info@example.com">info@example.com</a>
            </div>
            <div class="con-bot">
                <div class="left-bw3">
                    <h5><i class="fa fa-map-marker" aria-hidden="true"></i>Address</h5>
                    <p>BD 2 Mars</p>
                    <p> N° 136,</p>
                    <p>Morocco Casablanca</p>
                </div>
                <div class="right-bw3">
                    <h5><i class="fa fa-phone" aria-hidden="true"></i>Phone</h5>
                    <p>+2158 85467</p>
                    <p>+2158 85467</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--//Contact-->