<!--footer-->
<div class="w3l-footer">
	<div class="container">
		<div class="left-w3">
			<a href="#">Fantastic Food</a>
		</div>
		<div class="right-social">
			<i class="fa fa-facebook-square" aria-hidden="true"></i>
			<i class="fa fa-twitter-square" aria-hidden="true"></i>
			<i class="fa fa-google-plus-square" aria-hidden="true"></i>
		</div>
		<div class="clearfix"></div>
		<div class="footer-nav">
			<ul>
				<li><a class="menu__link scroll" href="#home">Home</a></li>
				<li><a class="menu__link scroll" href="#about">Services</a></li>
				<li><a class="menu__link scroll" href="#gallery">Gallery</a></li>
				<li><a class="menu__link scroll" href="#special">Special</a></li>
				<li><a class="menu__link scroll" href="#clients">Clients</a></li>
				<li><a class="menu__link scroll" href="#contact">Contact Us</a></li>
			</ul>
		</div>
		<div class="copyright-agile">
			<p>&copy; 2017 Fantastic Food. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
</div>
<!--//footer-->