<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sosyal Medyalar Tablosu</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sosyal Medya</th>
                        <th>Link</th>
                        <th>Simge</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <% socials.forEach(social=> { %>

                        <tr>
                            <td>
                                <%- social.socialmedia %>
                            </td>
                            <td>
                                <%- social.socialmedia_link %>
                            </td>
                            <td>
                                <div align="center">
                                   <% if (social.socialmedia === "instagram") { %>
                                     <i style="font-size: 25px;" class="fab fa-instagram"></i>  
                                    <% } else if (social.socialmedia === "facebook") { %>
                                    <i style="font-size: 25px;" class="fab fa-facebook"></i>
                                    <% } else if (social.socialmedia === "twitter") { %>
                                        <i style="font-size: 25px;" class="fab fa-twitter"></i>
                                    <% } else { %>
                                            <i style="font-size: 25px;" class="fab fa-whatsapp"></i>
                                   <% } %>
                                       
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                   <a style="text-decoration: none;" href="/admin/management/logged/updatesocial/<%-social._id%>"> <i style="font-size: 25px; color:blue ; margin-left: 10px;" class="far fa-edit"></i></a>
                                </div>
                            </td>
                        </tr>

                        <% }) %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Slider Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addsliderform" enctype="multipart/form-data" method="POST" action="/admin/management/logged/addslider">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="exampleInputEmail1">Slider Başlık</label>
                            <input id="slider_baslik" type="text" name="slider_baslik" class="form-control"
                                placeholder="Slider Başlık">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="exampleInputEmail1">Slider Alt Açıklama</label>
                            <input id="slider_altaciklama" type="text" name="slider_altaciklama" class="form-control"
                                placeholder="Slider kısa açıklama">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputPassword1">Slider Resim</label>
                            <input required id="slider_resim" type="file" name="slider_resim" class="form-control">
                        </div>
                        <div class="form-group col-sm-12"><label for="slider_more">Slider Daha Fazla :    </label></div>
                        <div class="form-group col-sm-12">
                            <textarea name="slider_more" id="slider_more" cols="30" rows="5"></textarea>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                        <button id="sliderekle" type="button" class="btn btn-primary">Slider Ekle</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>