<div align="center" class="mt-5 mb-5">
    <form>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Sosyal Medya</label>
                <input readonly type="text" class="form-control" value="<%-social.socialmedia%>">
            </div>
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Sosyal Medya Link</label>
                <input id="socialmedia_link" type="text" name="socialmedia_link" class="form-control" value="<%- social.socialmedia_link %> ">
            </div>
        </div>
        <div class="row ">
            <div class="form-group col-sm-4 offset-sm-4 ">
                <button id="<%-social._id%>" type="button" class="btn btn-primary socialupdate">Güncelle</button>
            <div>
        </div>
    </form>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br>